<% trolley ||= order.trolley -%>

<fieldset class="order">

<% if params[:controller] == 'orders' -%>
  <h3><%= t '.user' -%> <%= link_to_orders_for(order.user) -%></h3>
<% end -%>

<table class="order">
  <tr>
    <th abbr="Line Item"><%= t '.purchasable_item_description' %></th>
  </tr>

  <%= render :partial => 'line_items/line_item', :collection => order.line_items, :locals => { :order => order, :trolley => trolley } -%>

  <% if order.current? -%>
  <tr>
    <td><%= button_to_checkout order -%></td>
    <td><%= button_to_clear order -%></td>
  </tr>
  <% end -%>

  <% if order.in_process? -%>
  <tr>
    <td><%= button_to_cancel order -%></td>
  
    <% if can_trigger_fulfilled_without_acceptance? -%>
      <td><%= button_to_fulfilled_without_acceptance order -%></td>
    <% end -%>
  </tr>
  <% end -%>

  <% if order.ready? && can_trigger_finish? -%>
  <tr>
      <td><%= button_to_finish order -%></td>
  </tr>
  <% end -%>

</table>

</fieldset>

<% if  order.notes.size != 0 -%>
<h3><%= t('.order_notes')  -%></h3>
 <% end -%>

<ul class="notes" id="notes-for-<%= order.id -%>">
  <% if order.notes.size != 0 -%>
    <%= render :partial => 'notes/note', :collection => order.notes -%>
  <% end -%>
</ul>

<%= render :partial => 'notes/new', :locals => { :order => order,  :user => current_user } if order.may_note? -%>
