<% trolley ||= order.trolley -%>

<fieldset class="order">

<%= meta_data_for(order) -%>

<% if params[:controller] == 'orders' && !(params[:action] == 'show' && current_user == order.user) -%>
  <h3><%= t '.user' -%> <%= link_to_orders_for(order.user) -%></h3>
<% end -%>

<table class="order">
  <tr>
    <% if order.current? || (order.in_process? && current_user != order.user) -%>
      <th abbr="Actions for Line Item"><%= t '.purchasable_item_actions' %></th>
    <% end -%>
    <th abbr="Line Item"><%= t '.purchasable_item_description' %></th>
  </tr>

  <%= render :partial => 'line_items/line_item', :collection => order.line_items, :locals => { :order => order, :trolley => trolley } -%>


  <% show_order_buttons = order.current? ||
     order.in_process? ||
     (order.ready? && can_trigger_finish?) ||
     (order.user_review? && current_user == order.user) -%>

  <% if show_order_buttons -%>
    <tr class="order-buttons">
      <td><%= t '.order_controls_preface' -%></td>
  <% end -%>

  <% if order.current? -%>
    <td><%= button_to_clear order -%><%= button_to_checkout order -%></td>
  <% end -%>

  <% if order.in_process? -%>
    <td><%= button_to_cancel order -%>
      <% if can_trigger_fulfilled_without_acceptance? -%>
        <%= button_to_fulfilled_without_acceptance order -%>
      <% end -%>
    </td>
  <% end -%>

  <% if order.ready? && can_trigger_finish? -%>
      <td><%= button_to_finish order -%></td>
  <% end -%>

  <% if order.user_review? && current_user == order.user -%>
      <td><%= button_to_alteration_approve order -%></td>
  <% end -%>

  <% if show_order_buttons -%>
    </tr>
  <% end -%>

</table>

</fieldset>

<% if  order.notes.size != 0 -%>
<h3><%= t('.order_notes')  -%></h3>
 <% end -%>

<ul class="notes" id="notes-for-<%= order.id -%>">
  <% if order.notes.size != 0 -%>
    <%= render :partial => 'notes/note', :collection => order.notes -%>
  <% end -%>
</ul>

<%= render :partial => 'notes/new', :locals => { :order => order,  :user => current_user } if order.may_note? -%>
