<% @button_text = t(".confirm") 
   @title = t(".confirm_order")
-%>

<h1><%= @title -%></h1>

<%= render @order -%>

<% form_for(@order, :action => 'checkout') do |f| %>

<%= f.error_messages %>

<fieldset>

<%# overridable helper method that will set up fields appropriately -%>

<%= order_checkout_fields(f) -%>

<% if @order.notes.size == 1 -%>
  <% f.fields_for :notes do |note_form| -%>

    <label><%= t '.additional_info_for_order' -%></label>

    <%= note_form.hidden_field :user_id, :value => current_user.id  -%>

    <%= note_form.text_area :body, { :cols => 90, :rows => 5 } %>

  <% end -%>
<% end -%>

</fieldset>

<%= f.submit @button_text %>
<% end %>
